{% extends 'base.html' %}

{% block base %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        {% if product_list %}
            {% for product in product_list %}
                <div class="col d-flex align-items-start">
                    <div class="card shadow-sm h-100">
                        <div class="card-header fw-bold mb-0 fs-4 text-body-emphasis">
                            <a href="{% url 'product:detail' product.id %}"
                               title="Detail info ">{{ product.id }}</a>
                        </div>
                        <div class="card-body">

                            <p class="h-75">{{ product.name }}</p>
                            <p>price: <span class="fw-bold">${{ product.sale_price }}</span></p>
                        </div>
                        <div class="card-footer border-white bg-white">
                            <form method="GET">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="hidden" name="product_quantity" value="1">
                                {% if product.id in request.session.session_key.cart_key %}
                                    <button type="submit" class="btn btn-warning">Remove from cart</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}