{% block sidebar %}
    <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}admin">admin</a></li>
        <li><a href="{% url 'product:index' %}">products (json)</a></li>
        <li><a href="{% url 'order:index' %}">order</a></li>
    </ul>
{% endblock %}

<fieldset>
    <legend><h1>New order</h1></legend>
    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <form action="{% url 'order:save' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Do order">
    </form>
</fieldset>    

