<div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == 30 or message.level == 40 %}
                    <div class="pt-2">
                        <p class="alert alert-warning">
                            {{ message }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.level < 30 %}
                    <div class="pt-2">
                        <p class="alert alert-info">
                            {{ message }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>